/*
sélecteur
{
    propeiéte: valeur 
}
*/

body{
    background-color: black;
    font-family: sans-serif; 
}


h1,h2{
    color:#2d8f5c;
    font-family: 'Courier New', Courier, monospace;
    
}

.wrap{

    background-color: blueviolet;
    width:740px;
    margin:auto;
}
